@model IEnumerable<IronDomeV2.Models.Defender>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary">Blue Team</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Countermeasures" asp-action="Index" asp-route-id="@item.Id">Countermeasures</a>
                </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Create">
    <button class="btn btn-outline-success">
        Create New
    </button>
</a>