@{
    ViewData["Title"] = "IronDome";
    Dictionary<string, Dictionary<string, string>> controllerActionList = new()
    {
        {
            "Attacker", new Dictionary<string, string> {
                { "Index", "Attackers" }
            }
        }
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - War games</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IronDome1.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Attackers" asp-action="Index">War Games</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @foreach (var item in controllerActionList)
                        {
                            string controller = item.Key;
                            var actions = item.Value;
                            foreach (var action in actions)
                            {
                                string actionName = action.Key;
                                string displayName = action.Value;
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="@controller" asp-action="@actionName">@displayName</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container mt-4 text-center">
            &copy; 2024 - IronDome1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>