@model IronDomeV2.Models.MethodOfAttack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MethodOfAttack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Range)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Range)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Velocity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Velocity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfLaunch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeOfLaunch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volley)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volley.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
